.hsc2{
    margin-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
    
    
}
.footer1{
    padding-top: 30px;
    border-top-style: solid
    ;margin-top: 50px;
    border-top-width: 0.5px;
    
    
}
.card-body{
    font-family: 'Prompt';
    padding-left: 3rem;padding-right: 3rem;
    text-align: center;
    margin: auto;
    
}
.card-header{
    border-top-style: solid;
    border-top-width: 3px;
    
}
