.fterror {
    color: red;
    
}

.imgfl {
    margin-bottom: 30px;
}

.Pictext {

    text-align: center;
    font-weight: bold;
}

.Bartext {
    padding-top: 20px;
    padding-bottom: 1px;
    font-weight: bold;
}

.BtnButton {

    margin: 30px 0;
    width:100%;

}